<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azazel11.android.fivethreeone"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".MainActivity"
            android:label="@string/main_activity"
            android:theme="@style/Theme.Sherlock" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- exercise list -->

        <activity
            android:name=".exercise.BenchPress"
            android:label="@string/bench_press" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.azazel11.android.fivethreeone.EXERCISE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".exercise.Deadlift"
            android:label="@string/deadlift" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.azazel11.android.fivethreeone.EXERCISE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".exercise.ShoulderPress"
            android:label="@string/shoulder_press" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.azazel11.android.fivethreeone.EXERCISE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".exercise.Squat"
            android:label="@string/squat" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.azazel11.android.fivethreeone.EXERCISE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MaxCalculator"
            android:label="@string/title_activity_max_calculator" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.actionbarsherlock.app.SherlockActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.azazel11.android.fivethreeone.EXERCISE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".exercise.week.WeekOne"
            android:label="@string/first_set" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.azazel11.android.fivethreeone.exercise.week" />
            </intent-filter>
        </activity>
    </application>

</manifest>